{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Заказы!</title>
  <link rel="stylesheet" href="{% static 'base_html.css'%}">
  <header>
    <div class="header">
        <div class="top">
          <svg class="logo" width="172px" height="55px" viewBox="0 0 172 55" fill="#fff">
              <text x="5px" y="35px">заказы</text>
      
          </svg>
          <div class="right-wrapper">

            <div class="profile-pic">
              <div class="picture"></div>
              <div class="profile-name">
                {{request.user}}
              </div>
            </div>
            
            <!-- <svg class="app-menu" width="16px" height="16px" viewBox="0 0 26.75 26.75" fill="#fff">
              <circle cx="3.25" cy="3.25" r="3.25"/>
              <circle cx="13.38" cy="3.25" r="3.25"/>
              <circle cx="23.5" cy="3.25" r="3.25"/>
              <circle cx="3.25" cy="13.38" r="3.25"/>
              <circle cx="13.38" cy="13.38" r="3.25"/>
              <circle cx="23.5" cy="13.38" r="3.25"/>
              <circle cx="3.25" cy="23.5" r="3.25"/>
              <circle cx="13.38" cy="23.5" r="3.25"/>
              <circle cx="23.5" cy="23.5" r="3.25"/>
            </svg> -->
          </div>
        </div>
        <div class="navbar">
          <div class="navbar-item-wrapper">
            {% if not user.is_authenticated %}
              <a class="navbar-item active" href="#">Регистрация</a>
              <a class="navbar-item" href="#">Авторизация</a>
            {% else %}
            {% if request.user.role %}
            <a class="navbar-item" href="#">Создать заказ</a>
            {% endif %}
            <a class="navbar-item" href="#">Мои заказы</a>
            <a class="navbar-item" href="#">Выйти</a>
            {% endif %}
          </div>
          <svg class="hamburger-menu" width="28px" height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 15">
              <line x1="1.5" y1="1.5" x2="26.5" y2="1.5"/>
              <line x1="1.5" y1="7.5" x2="26.5" y2="7.5"/>
              <line x1="1.5" y1="13.5" x2="26.5" y2="13.5"/>
          </svg>
          <div class="search-wrapper">
            <input class="search-input" placeholder="SEARCH" type="text" />
            <svg width="13px" height="13px" class="search-icon" viewBox="0 0 13 13">
              <path fill="#999999" d="M12,13a1,1,0,0,1-.7-.3L8.62,10A5.5,5.5,0,1,1,10,8.62l2.68,2.68A1,1,0,0,1,12,13ZM5.5,2A3.5,3.5,0,1,0,9,5.5,3.5,3.5,0,0,0,5.5,2Z"/>
            </svg>
          </div>
          <div class="sidebar">
            <svg class="close-sidebar hamburger-menu" width="27px" height="18px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.98 18.38">
              <line class="cls-1" x1="26.23" y1="9.19" x2="0.75" y2="9.19"/>
              <line class="cls-1" x1="11.37" y1="0.75" x2="0.75" y2="9.19"/>
              <line class="cls-1" x1="11.37" y1="17.63" x2="0.75" y2="9.19"/>
            </svg>
          </div>
        </div>
      </div>
 </header>
</head>

<body>
    <h1 class="navbar">Список заказов: </h1> 
</body>

</html>