{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% if request.user.role %}
    <h1 class="navbar">Список заказов: </h1> 
            <table border="1" cellpadding = "5" cellspacing="5">
                <thead>
                    <tr>
                        <th> Id </th>
                        <th> Текст </th>
                        <th> Автор </th>
                    </tr>
                </thead>
                <tbody>
                    {% for pok in response %}
                    <tr>
                        <td>{{ pok.id }}</td>

                        <td>{{ pok }}</td>
                        <td>{{ pok.author_id }}</td>

                    {% endfor %}  
                    
                    </tr>
                </tbody>
            </table>

    {% else %}
        <h1 class="navbar">Список заказов для выполнения: </h1> 
        <table border="1" cellpadding = "5" cellspacing="5">
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Текст </th>
                    <th> Автор </th>
                    <th> Выполнить </th>
                </tr>
            </thead>
            <tbody>
                {% for pok in response %}
                <tr>
                    <td>{{ pok.id }}</td>
                    <td>{{ pok }}</td>
                    <td>{{ pok.author_id }}</td>
                    <td>
                        <form method="post" action="">
                            {% csrf_token %}
                            <button name="chosen_order" value="{{pok.id}}" type="submit">Выбрать</button>
                        </form>    
                    </td>
                {% endfor %}  
                
                </tr>
            </tbody>
        </table>
        {% endif %}
{% endif %}

{% endblock %}
